@page
@using SE1611_Group1_Project.Models
@model SE1611_Group1_Project.Pages.Foods.IndexModel
@{
    var cateList = ViewData["categoryList"] as IEnumerable<Category>;
    var foodPaging = ViewData["Product"] as List<Food>;
    var context = new FoodOrderContext();
    var prevDisabled = Model.IndexPaging == 1 ? "disabled" : "";
    var nextDisabled = Model.IndexPaging == Model.TotalPage ? "disabled" : "";
}
<link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
<link rel="stylesheet" href="~/css/animate.css">

<link rel="stylesheet" href="~/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/css/owl.theme.default.min.css">
<link rel="stylesheet" href="~/css/magnific-popup.css">

<link rel="stylesheet" href="~/css/aos.css">

<link rel="stylesheet" href="~/css/ionicons.min.css">

<link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="~/css/jquery.timepicker.css">


<link rel="stylesheet" href="~/css/flaticon.css">
<link rel="stylesheet" href="~/css/icomoon.css">
<link rel="stylesheet" href="~/css/style.css">
<div class="container" style="background-color:gray">
    <h1>Menu</h1>
    <div class="row">
    <div class="col-3">
         <div>
            Category: <select class="form-select" asp-for="CategoryId" asp-items="Model.Categories">
                <option value=0>All</option>
                @foreach (Category item in cateList)
                {
                    <option value=@item.CategoryId>@item.CategoryName</option>
                }
            </select>
         </div>
         <form style="margin-top:20px">
                <input placeholder="Search" style="margin-top:20px" asp-for="SearchString" type="text"/>
                <button style="margin-top:20px" class="btn btn-outline-success" type="submit">Search</button>
                <br />
                <a style="margin-top:20px" href="/foods?CateId=0&SearchString=&IndexPaging=1">Back to full list</a>
        </form>
    </div>
    <div class="col-9">
<div style="margin-top: 30px">
    <div class="row">
        @foreach (var item in foodPaging)
        {
                        <div class="col-md-4">
                            <div class="menu-entry">
                                <img src="@item.FoodImage" alt="@item.FoodName" style="width: 250px; height: 200px" />
                                <div class="text text-center pt-4">
                                    <h3><a style="color:blue">@item.FoodName</a></h3>
                                    <p>Category: @item.Category.CategoryName</p>
                                    <p><span style="color:black">UnitPrice: @item.FoodPrice</span></p>
                                    <p>
                                        <form method="post">
                                            <input type="submit" asp-page-handler="AddToCart" value="AddToCart" asp-route-id="@item.FoodId" class="btn btn-primary btn-outline-primary" />
                                        </form>
                                    </p>
                                </div>
                            </div>
                        </div>
        }
    </div>
</div>
<div style="margin-top: 30px" >
                <a href="/Foods/index?GenreId=@Model.CategoryId&SearchString=@Model.SearchString&IndexPaging=@(Model.IndexPaging-1)" class="btn btn-primary btn-outline-primary @prevDisabled">Previous</a>
                <a href="/Foods/index?GenreId=@Model.CategoryId&SearchString=@Model.SearchString&IndexPaging=@(Model.IndexPaging+1)" class="btn btn-primary btn-outline-primary @nextDisabled">Next</a>
    Page: @Model.IndexPaging/@Model.TotalPage
</div>
</div>
</div>
</div>



