@page
@using SE1611_Group1_Project.Models
@model SE1611_Group1_Project.Pages.Foods.IndexModel
@{
    var cateList = ViewData["categoryList"] as IEnumerable<Category>;
    var foodPaging = ViewData["Product"] as List<Food>;
    var context = new FoodOrderContext();
    var prevDisabled = Model.IndexPaging == 1 ? "disabled" : "";
    var nextDisabled = Model.IndexPaging == Model.TotalPage ? "disabled" : "";
}
<link href="~/css/menu.css" rel="stylesheet" />
<div class="menu">
    <div class="row pt-5 mb-5 me-0 ms-0">
        <h1 class="text-center text-white ">Menu</h1>
    </div>
    <div class="row pe-0 me-0 ms-0">
        <div class="col-2 ms-5 me-5 ps-5">
            <form>
                <p class="text-white">Category:</p>
                <div class="input-group mt-3">
                    <select class="form-select" asp-for="CategoryId" asp-items="Model.Categories">
                        <option value=0>All</option>
                        @foreach (Category item in cateList)
                        {
                            <option value=@item.CategoryId>@item.CategoryName</option>
                        }
                    </select>
                </div>

                <div class="input-group mt-3">
                    <input type="search" class="form-control rounded me-1" placeholder="Search" aria-label="Search" aria-describedby="search-addon" asp-for="SearchString" />
                    <button type="submit" class="btn btn-outline-primary btn_custom">Search</button>
                </div>
            </form>
        </div>
        <div class="col-8 list-item">
            <div class="row">
                @foreach (var item in foodPaging)
                {
                    <div class="col-4 mt-2 mb-3 d-flex align-items-center justify-content-center">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="@item.FoodImage" alt="Food Image">
                            <div class="card-body">
                                <h5 class="card-title">@item.FoodName</h5>
                                <p class="card-text">Category: @item.Category.CategoryName</p>
                                <p class="card-text">UnitPrice: @item.FoodPrice</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-center mb-2">
                                <form method="post">
                                    <input type="submit" asp-page-handler="AddToCart" value="AddToCart" asp-route-id="@item.FoodId" class="btn btn-outline-primary btn_addtocart" />
                                </form>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row me-0 ms-0">
        <div class="col-2 ms-5 me-5 ps-5"></div>
        <div class="col-8">
            <div class="row mt-5">
                <div class="col-12 d-flex align-items-center justify-content-center text-white">
                    <a href="/Foods/index?GenreId=@Model.CategoryId&SearchString=@Model.SearchString&IndexPaging=@(Model.IndexPaging-1)" class="btn btn-outline-primary me-3 btn_custom btn_pre_next @prevDisabled">Previous</a>
                    <a href="/Foods/index?GenreId=@Model.CategoryId&SearchString=@Model.SearchString&IndexPaging=@(Model.IndexPaging+1)" class="btn btn-outline-primary me-3 btn_custom btn_pre_next @nextDisabled">Next</a>
                    Page: @Model.IndexPaging/@Model.TotalPage
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>




